@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<div class="row">
    <div class="register-form login-register-form">    
        <form id="account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="avatar"><i class="fa fa-briefcase"></i></div>
            <h4 class="modal-title text-light">Zarejestruj się</h4>
            <div class="form-group">
                <input asp-for="Email" type="text" class="form-control text-light" placeholder="Email" required="required">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control text-light" placeholder="Hasło" required="required">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control text-light" placeholder="Powtórz hasło" required="required">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <input asp-for="FirstName" type="text" class="form-control text-light" placeholder="Imię" required="required">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-xs-6">
                        <input asp-for="LastName" type="text" class="form-control text-light" placeholder="Nazwisko" required="required">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" type="tel" class="form-control text-light" placeholder="Numer telefonu" required="required">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <input asp-for="City" type="text" class="form-control text-light" placeholder="Miasto" required="required">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-xs-6">
                        <input asp-for="ZipCode" type="text" class="form-control text-light" placeholder="Kod pocztowy" required="required">
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Street" type="text" class="form-control text-light" placeholder="Ulica">
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <input asp-for="HouseNumber" type="text" class="form-control text-light" placeholder="Numer domu" required="required">
                        <span asp-validation-for="HouseNumber" class="text-danger"></span>
                    </div>
                    <div class="col-xs-6">
                        <input asp-for="FlatNumber" type="text" class="form-control text-light" placeholder="Numer mieszkania">
                    </div>
                </div>
            </div>
           
            <input type="submit" class="btn btn-success btn-block btn-lg" value="Zarejestruj">
        </form>			
        <div class="text-center small">Masz konto?<a asp-page="./Login"  asp-route-returnUrl="@Model.ReturnUrl"> Zaloguj się</a></div>
    </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
