
.job-card {
    border-radius: 1px;
    background-color: #393e46;
    border: 1px solid #434343;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.custom-button-red {
    background: #d9534f !important;
    border: none;
    line-height: normal;
}

