.text-danger{
    color: #F29692 !important;
}
.form-control, .form-control:disabled {
    box-shadow: none;
    background: #222831;
    border-color: rgba(0, 0, 0, 0.3);
    color: #f8f9fa
}

.form-control:disabled {
    background: #2d3640;
}
.form-control:focus {
    border-color: #4aba70;
    background: #222831;
    color: #f8f9fa
}

 form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #393e46;
    border: 1px solid #393e46;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.custom-button-green {
    background: #4aba70 !important;
    border: none;
    line-height: normal;
}

.btn.custom-button-green:hover, .btn:focus.custom-button-green, .btn.custom-button-green.active{
    background: #339757 !important;
    color: #f8f9fa;
}

.custom-button-red {
    background: #d9534f !important;
    border: none;
    line-height: normal;
}

.btn.custom-button-red:hover, .btn:focus.custom-button-red, .btn.custom-button-red.active {
    background: #b84642 !important;
    color: #f8f9fa;
}

.custom-button-blue {
    background: #0c7ce2 !important;
    border: none;
    line-height: normal;
}

.btn.custom-button-blue:hover, .btn:focus.custom-button-blue, .btn.custom-button-blue.active {
    background: #1479d2 !important;
    color: #f8f9fa;
}


 a .custom-link{
    color: #4aba70;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 25px;
    padding-right: 0;
}

.input-icon-right > i {
    right: 0;
}

.input-icon-right > input {
    padding-left: 12px;
    padding-right: 25px;
    text-align: left;
}
