.text-danger{
    color: #F29692 !important;
}
.form-control, .form-control:disabled {
    box-shadow: none;
    background: #313131;
    border-color: rgba(0, 0, 0, 0.3);
    color: #f8f9fa
}

.form-control:disabled {
    background: #404545;
}
.form-control:focus {
    border-color: #4aba70;
    background: #313131;
    color: #f8f9fa
}

 form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #434343;
    border: 1px solid #434343;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
/*.login-register-form h4 {*/
/*    text-align: center;*/
/*    font-size: 22px;*/
/*    margin-bottom: 20px;*/
/*}*/
/*.login-register-form .avatar {*/
/*    color: #313131;*/
/*    margin: 0 auto 30px;*/
/*    text-align: center;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 50%;*/
/*    z-index: 9;*/
/*    background: #4aba70;*/
/*    padding: 15px;*/
/*    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);*/
/*}*/
/*.login-register-form .avatar i {*/
/*    font-size: 62px;*/
/*}*/

/*.register-form .avatar i {*/
/*    padding-top: 5px;*/
/*}*/
/*.login-register-form .form-group {*/
/*    margin-bottom: 20px;*/
/*}*/
/*.login-register-form .form-control, .login-form .btn {*/
/*    min-height: 40px;*/
/*    border-radius: 2px;*/
/*    transition: all 0.5s;*/
/*    background: #313131*/
/*}*/

 .btn {
    background: #4aba70;
    border: none;
    line-height: normal;
}

.btn:hover, .btn:focus {
    background: #42ae68;
    color: #f8f9fa;
}

/*.login-register-form .checkbox-inline {*/
/*    float: left;*/
/*}*/
/*.login-register-form input[type="checkbox"] {*/
/*    margin-top: 2px;*/
/*    background: #313131;*/
/*}*/
/*.login-register-form .forgot-link {*/
/*    float: right;*/
/*}*/
/*.login-register-form .small {*/
/*    font-size: 13px;*/
/*}*/
 a {
    color: #4aba70;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}